version: 2
jobs:
  build_linux_py36:
    machine: true
    environment:
      - CONFIG: "linux_py36"

    steps:
      - checkout

      # Install
      - run:
          name: Install Miniconda3
          command: ./install_miniconda.sh

      # Build
      - run:
          name: Build package
          command: |
            source ~/miniconda/bin/activate base
            conda build -m build_config/${CONFIG}.yaml ./recipe

      # Upload
      - run:
          name: Upload packages
          command: |
            source ~/miniconda/bin/activate base
            ./upload_or_check_non_existence -m build_config/${CONFIG}.yaml ./recipe sebp --channel=main

  build_linux_py37:
    machine: true
    environment:
      - CONFIG: "linux_py37"

    steps:
      - checkout

      # Install
      - run:
          name: Install Miniconda3
          command: ./install_miniconda.sh

      # Build
      - run:
          name: Build package
          command: |
            source ~/miniconda/bin/activate base
            conda build -m build_config/${CONFIG}.yaml ./recipe

      # Upload
      - run:
          name: Upload packages
          command: |
            source ~/miniconda/bin/activate base
            ./upload_or_check_non_existence -m build_config/${CONFIG}.yaml ./recipe sebp --channel=main

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_linux_py36
      - build_linux_py37
